#可选，使用 cuBLAS 可以加快非 fp8 线性层的推理速度，但因为网络问题老是安装失败
#git+https://github.com/aredden/torch-cublas-hgemm.git@master
# 至少需要具有 cuda=12.4 的 pytorch 和 ada 架构的 gpu（40系）
# 安装时指定 --pre 可获取最新的夜间构建版 torch ，一般速度更快
# pip install -r requirements.txt --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu124
pytorch
torchvision
torchaudio
optimum-quanto

einops
PyTurboJPEG
pydantic
fastapi
bitsandbytes
loguru
transformers
tokenizers
sentencepiece
click
accelerate
quanto
pydash
pybase64
uvicorn
